@model Follower_Analyzer_for_Instagram.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container my-5">
    @using (Html.BeginForm("GetMostPopularPosts", "Home", FormMethod.Get, new { @class = "form-signin mt-5" }))
    {
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(Model => Model.Username,
         new
         {
             @class = "form-control col-5 mr-2",
             placeholder = "Please, enter instagram username here",
             required = "required",
             id = "inputDefault"
         })
            <input type="submit" class="btn btn-info mr-2 px-4" value="Get most popular posts"></input>
            @*<input type="text" class="form-control col-5 mr-2" placeholder="Please, enter instagram username here" id="inputDefault">*@
            @*<input type="button" class="btn btn-info mr-2 px-4" value="Comments" />
                <input type="button" class="btn btn-danger mr-2 px-5" value="Likes" />*@
        </div>
    }


</div>
@if (Model.Posts.Count != 0)
{
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (Follower_Analyzer_for_Instagram.Models.InstagramPost post in Model.Posts)
                {
                    <div class="card col-md-4 py-4">
                        <img style="height: 200px; width: 100%; display: block;" src="@post.MediaFileUri" alt="Instagram media file">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Likes: @post.CountOfLikes</li>
                            <li class="list-group-item">Comments: @post.CountOfComments</li>
                        </ul>
                        @*<div class="card-body">
                                <p class="card-text">Post's content.</p>
                            </div>
                            <div class="card-footer text-muted">
                                Date: (по желанию)
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
}